<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo p-1">

    <!-- Navbar brand -->
    <mdb-navbar-brand class="p-2">
        <a class="navbar-brand" href="/">
            <h3>MySchool</h3>
        </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav ml-auto pr-4">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Settings</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item">
                <a class="nav-link">
                    <div class="btn-group" mdbDropdown>
                        <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                        <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                            <a class="dropdown-item" href="#">My Account</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </div>
                </a>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->